#menu-bar {
  width: 99%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 43px;
  line-height: 100%;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  box-shadow: 2px 2px 3px #0C0140;
  -webkit-box-shadow: 2px 2px 3px #0C0140;
  -moz-box-shadow: 2px 2px 3px #0C0140;
  background: #22427C;
  border: solid 1px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 18px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 500px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:11px;
  font-style:normal;
  font-family:arial;
  font-weight: bold;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
.carre{
	width:33%;
	height:200px;
	background:#22427C;
	border-top-left-radius : 150px 100px;
	position: absolute;
    left: 0px;
    top: 40px;
}

.carre1{
	width:98%;
	height:250px;
	background:#F1F3F3;
    position:absolute;
    left: 10px;
    top: 20px;
	border:dashed;
	color:#22427C;	
}
.carre2{
	width:33%;
	height:200px;
	background:#F1F3F3;	
	position: absolute;
    left: 66%;
    top: 40px;

}
.rectangle{
	width:1300px;
	height:200px;
	background:#040;
	position: absolute;
    left: 500px;
    top: 150px;
}

.ligne {
  padding-bottom:10px; /*Pour séparer le contenu de la bordure du bas du bloc*/
  magin-bottom:15px; /*Pour séparer la bordure du prochain élément*/
  border-bottom: 5px solid #6633FF/*Pour faire un trait rouge horizontal*/
}
.ligne1 {
  padding-bottom:250px; /*Pour séparer le contenu de la bordure du bas du bloc*/
  magin-bottom:15px; /*Pour séparer la bordure du prochain élément*/
  border-bottom: 5px solid #6633FF/*Pour faire un trait rouge horizontal*/
}
.separation{
	clear: both;
	position: absolute;
	margin-top :8px;
	margin-left: 70%;
	height: 250px;
	width : 2px;
	background: #606060;
	}
.separation1{
	clear: both;
	position: absolute;
	margin-top :8px;
	margin-left: 86%;
	height: 250px;
	width : 2px;
	background: #606060;
	}	
.ligne_verticale
{
    width:5px;
    border-left:1px solid gray;
    height:250px;
}
.posimg0 { float:right; margin-top: 11px;margin-left:1%;position : absolute; } 
.posimg1 { float:right; margin-top: 70px;margin-left:71%;position : absolute; } 


.poslogo { float:right;position : absolute; } 



.posimg2 { float:right; margin-top: 120px;margin-left:71%;position : absolute;vertical-align:middle; } 

.postxt1 { float:right; margin-top: 71px;margin-left:74%;position : absolute; } 
.postxt2 { float:right; margin-top: 120px;margin-left:74%;position : absolute;vertical-align:middle; } 

.posimg3 { float:right; margin-top: 70px;margin-left:87%;position : absolute;vertical-align:middle; } 
.posimg11 { float:right; margin-top: 110px;margin-left:87%;position : absolute; } 
.posimg21 { float:right; margin-top: 150px;margin-left:87%;position : absolute;vertical-align:middle; } 

.postxt3 { float:right; margin-top:75px;margin-left:90%;position : absolute; } 
.postxt11 { float:right; margin-top:115px;margin-left:90%;position : absolute; } 
.postxt21 { float:right; margin-top:155px;margin-left:90%;position : absolute;vertical-align:middle; }






.flotte {
float:right;
}
#attention{
    display: inline-block;
    text-align:center;
    color:#FACC2E;
	border-top:50px;
	border-right:100px;
}

#templateContainer{
			width:100% !important;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
			background:#F1F3F3;		
		}

